<h1 id="page-title">{{createTitle()}}</h1>

<p class="intro">Sweet Potatoes and Yams. They are not the same, don't get them confused.</p>

<img class = "float-right w400" src={{imageURL}} /> <!-- TODO: Replace the empty quotes for the src attribute with the placeholder for your imageURL field -->
<h3 class="sweetPotato">{{thingOne}}</h3>
<p>Sweet potatoes have a a reddish-brown skin and are elongated with tapered ends.</p>
<p class="fun-fact">Fun fact: Sweet potatoes can have a purple skin!</p>

<h3 class="yam">{{thingTwo}}</h3>
<p>Yams have skin that looks like tree bark. They are more like yucca in texture and flavor.</p>
<p class="fun-fact">Fun fact: These lovely vegetables are savory!</p>